<div class="body ">
    <div class="login">
        <form>
        <img src="../../../assets/img/usuario.png" width="55%">
        <h1>Login</h1>
        <mat-form-field class="ancho" appearance="fill" formControlName="usuario">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput autocomplete="on">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill" formControlName="password">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput autocomplete="off">
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary" class="ancho button">Ingresar</button>
        </form>
        
    </div>
        
</div>


